@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
 padding: 0;
 margin: 0;
 font-family: 'Roboto', sans-serif;
}

.navbar {
  height: 70px;
  color: #fff;
  background: #333;
  padding: 0 60px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar h4 {
  margin: 0;
}

.navbar svg{
  margin-right: 10px;
}

.navbar .cart {
  display: flex;
  align-items: center;
}

.navbar .cart span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: yellow;
  color: #000;
}

.not-found {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}