@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
 padding: 0;
 margin: 0;
 font-family: 'Roboto', sans-serif;
}

.navbar {
  height: 70px;
  color: #fff;
  background: #333;
  padding: 0 60px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar h4 {
  margin: 0;
}

.navbar svg{
  margin-right: 10px;
}

.navbar .cart {
  display: flex;
  align-items: center;
}

.navbar .cart span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: yellow;
  color: #000;
}

.not-found {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.products {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}

.heading-title {
  margin: 20px 0;
  text-align: center;
}

.img-container {
 
  margin: 0 auto;
}

.img-container img {
  width: 100%;
}

.products a {
  color: #000;
  text-decoration: none;
}

.product {
  margin: 20px;
  padding: 20px;
  max-width: 300px;
  border: 1px solid #aaa;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.product:hover {
  transform: scale(1.1);
}

.product-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; 
}

.product button {
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(3, 98, 207);  
  border: none;
  width: 100%;
  border-radius: 5px;
}

.product button:hover {
  background-color: rgb(1, 55, 118);  
}

/* ======================= */
/* ====== Cart CSS ======= */
/* ======================= */
.cart-page-title {
  text-align: center;
  margin: 30px 0;
}

.cart-headers {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.cart-headers div {
  width: 25%;
  text-align: center;
}

.empty-cart {
  text-align: center;
  margin-top: 50px;
}

.empty-cart a {
  color: rgb(129, 128, 128);
  text-decoration: none;
}

.empty-cart a:hover {
  text-decoration: underline;
}

.cart-items {
  padding: 30px 60px;
}

.cart-headers, .cart-item {
  display: flex;
}

.cart-item {
  justify-content:space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.cart-item > div {
  width: 25%;
  text-align: center;
}

.product-detail {
  display: flex;
}

.product-img {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img img {
  width: 80%;
}

.product-name button {
  background: none;
  border: none;
  color: rgb(249, 56, 56);
}

.product-name button:hover {
  text-decoration: underline;
}

.product-qty-btn {
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
}

.product-qty button {
  padding: 5px 15px;
  background: none;
  border: none;
}

.product-qty button:hover {
  background: #eee;
}

.product-qty span {
  padding: 5px 15px;
}

.cart-cta {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  /* align-items: center; */
}

.clear-cart {
  background: none;
  border: 1px solid rgb(100, 100, 100);;
  color: rgb(100, 100, 100);
  padding: 7px 20px;
}

.clear-cart:hover {
  background: #eee;
}

.subtotal {
  display: flex;
  justify-content: space-between;
}

.btn-checkout {
  display: block;
  background: #0275d8;
  color: #fff;
  width: 100%;
  border: none;
  padding: 7px 20px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.btn-checkout:hover {
  background: #005198;
}

.cart-cta a {
  color: rgb(97, 97, 97);
  text-decoration: none;
  
}

.cart-cta a svg{
  transition: all 0.3s ease-in-out;
}

.cart-cta a:hover svg {
  margin-right: 10px;
}

.product-details-page {
  display: flex;
  margin: 80px;
  padding: 40px;
  border: 1px solid #ccc;
}

.product-details-img {
   min-width: 400px;
}

.product-details-img img {
  width: 100%;
}

.product-detail-desc {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding-left: 20px;
}

.product-details-page button {
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(3, 98, 207);  
  border: none;
  border-radius: 5px;
}

.product-details-page button:hover {
  background-color: rgb(3, 75, 157);  
}

.product-detail-row-bottom {
  display: flex;
  justify-content:space-between;
  align-items:center;
  border: 1px solid #ccc;
  padding: 40px;
}

.product-detail-row-bottom h4 {
  margin: 0;
}

.cart-title-product,  
.cart-title-price, 
.cart-title-qty, 
.cart-title-total {
  display: none;
}

@media (max-width: 768px) {
  .products {
    padding: 0 40px;
    flex-direction: column;
    align-items:center;
  }

  .product {
    max-width: 100%;
  }

  .product h3 {
    font-size: 18px;
  }

  .product-info {
    flex-direction: column;
  }

  .cart-headers {
    display: none;
  }

.cart-title-product,  
.cart-title-price, 
.cart-title-qty, 
.cart-title-total {
    display: block;
    text-align: center;
    color: #aaa;
  }

.cart-item,
.product-detail  {
  flex-direction: column;
}

.cart-item {
  border: 1px solid #ccc;
  margin-top: 20px;
}

.cart-item>div {
  width: unset;
  margin-bottom: 20px;
}

.product-img {
  width: 300px;
}

.product-details-page {
  flex-direction: column;
}

.product-details-img {
  min-width: unset;
}
}